.brands {
    margin-bottom: 80px;

    &__list {
        display: flex;
        flex-wrap: wrap;
    }

    &__item {
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 1px solid var(--color-gray);
        max-width: 25%;
        background-color: var(--color-white);
        cursor: pointer;

        &:hover {
            opacity: 0.3;
        }
    }

    &__image {
        padding: 35px 65px;
    }
}
