.goods {
    margin-bottom: 100px;

    &__title {
        margin-bottom: 38px;
        font-weight: 700;
        font-size: 24px;
        color: var(--color-black);
    }

    &__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__item {

        &:not(:last-child) {
            margin-right: 30px;
        }
    }
}
